.banner{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr;
    grid-template-areas: "overlap";
}
.img-banner{
    grid-area: "overlap";
    grid-row: 1;
    z-index: auto;
}
.banner-text{
    grid-area: "overlap";
    grid-row: 1;
    font-size: 46;
    place-items: center;
    background-color: black;
    z-index: auto;
}